body {
    background-color: #F8EDE3;
    margin: 0;
}

h1 {
    margin: 0px;
    font-family: 'Sacramento', serif;
    font-size: 75px;
}

h3 {
    margin-top: 0px; 
    padding-top: 35px; 
    font-size: 35px;
    color: darkslategrey;
}

.box_1 {
    background-color: #B09B71;
    height: 70%;
    width: 100%;
    margin-bottom: 0px;
    color: darkslategrey;
    
}

.main_txt {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
    padding-top: 20%;
    padding-bottom: 20%;
}

.box_2 {
    background-color: #D8CCA3;
    width: 100%;
    
}

.hobbies img {
    float: left;
    margin-right: 30px;
}

.skills img {
    float: right;
    margin-left: 30 px;
}

.box2_txt {
    font-family: 'Source Code Pro', serif;
    font-size: 20px;
    background-color: #D8CCA3;
    text-align: left;
    width: 50%;
    margin: 0 auto 0 auto;
    color: rgb(22, 49, 22);
    padding-bottom: 35px;
    
}

.intro {
    text-align: center;
}

.box_3 {
    background-color: #3F4E4F;
    width: 100%;
    height: 150px;
    color: darkcyan;
    text-align: center;
    position: relative;
}

.nav_bar {
    background-color: #87805E;
    position:fixed;
    width: 100%;
    height: 35px;
}

hr {
    border-style: dotted none none;
    border-color: #333333;
    border-width: 5px;
    width: 5%;
}

.btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Georgia;
    color: #1f331b;
    font-size: 20px;
    background: #61764B;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #61764B;
    background-image: -webkit-linear-gradient(top, #61764B, #395144);
    background-image: -moz-linear-gradient(top, #61764B, #395144);
    background-image: -ms-linear-gradient(top, #61764B, #395144);
    background-image: -o-linear-gradient(top, #61764B, #395144);
    background-image: linear-gradient(to bottom, #61764B, #395144);
    text-decoration: none;
}

.contact_me {
    text-align: center;
    margin-bottom: 10px;
}

.footer-link {
    position: relative;
    text-decoration: none;
    font-family: 'Source Code Pro';
    color: #9BA17B;
    margin: 20px;
    padding-top: 20px;
    top: 20px;
}

.copyright {
    position: relative;
    top: 50px;
    color: lightgoldenrodyellow;
}
